button { 
/* background-color:black; */
    background-color: #000000;
    /* background-color:black; */
    color:blanchedalmond;

    borded: 0;
    border-radius: 8px;
 /* размер шрифта */
    font-size: 14px;

    font-weight: 500;

    padding-top: 10px;
    padding-bottom: 20px;
    
}