body {
    background-color: #F8F8F9;
}

li {
    list-style: none;
}

/* list switch styles */
.list__switch {
    display: flex;
    width: fit-content;
    background-color: #FFF;
    padding: 20px;
    border-radius: 20px;
}

.list__switch > div {
    background-color: transparent;
    border-radius: 20px;
    padding: 12px;
    color: #B9BDC9;
}

.list__switch > div:hover {
    cursor: pointer;
    background-color: rgb(246, 246, 246);
}

.list__switch--active-item {
    background-color: #EB4757 !important;
    color: #FFF !important;
}

.list__switch--active-item:hover {
    background-color: #bb2a39 !important;
}

/* list styles */

/* card styles */
.card__item {
    display: flex;
}

.card__item--button {
    width: 45px;
    height: 45px;

    border: 0;
    border-radius: 100px;

    background-color: #EB4757;
    background-image: url("./play.svg");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
